@model IEnumerable<PhoneBook.Models.EntryModel>

@{
    ViewData["Title"] = "Maintain Entries";
}

<h1>Maintain Entries</h1>

<p>
    <a asp-action="AddEntry">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phonenumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>           
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phonenumber)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditEntry", new {  id=item.id  }) 
            </td>
        </tr>
}
    </tbody>
</table>
